#form_connexion{
    border-radius: 15px !important;
    padding-top: 3% !important;
    padding-bottom: 3% !important;
}

#submit_ins{
    background-color: #FFCA4B !important;
    border-radius: 15px !important;
}

input[type=email]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label{
    color:  #88C1D0 !important;
    font-weight: bold;
}

input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]){
    border-bottom: 1px solid #88C1D0 !important;
    box-shadow: 0 1px 0 0 #88C1D0 !important;
}