/* GENERAL */

li, ul, ol {
    list-style-type: none;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* THEME COLORS */
.no-background {
    background: none;
}

.no-background-focus:focus {
    background: none;
}

.background-blue-grey {
    background-color: #88C1D0;
}

.background-white {
    background-color: #FFFFFF;
}

.background-yellow {
    background-color: #FFCA4B;
}

.background-lighter-grey {
    background-color: #F9F9F9;
}

.yellow-text {
    color: #FFCA4B;
}
.black-text {
    color: black;
}

.white-text {
    color: #f1f1f1 !important;
}

.light-grey-text {
    color: #888B97;
}

.grey-text {
    color: #202126;
}

.blue-text {
    color: #275FA0 !important;
    transition: 0.2s ease-in-out;
}

.green-text {
    color: #48a043 !important;
    transition: 0.2s ease-in-out;
}

.red-text {
    color: #a00d26 !important;
    transition: 0.2s ease-in-out;
}

.box-shadow {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.hover-blue-grey:hover {
    background-color: rgba(39, 95, 160, 0.54);
}

.hover-yellow-text {
    transition: color 0.2s ease-in-out;
}

.hover-yellow-text:hover {
    color: #FFCA4B !important;
}

/* MARGINS AND PADDINGS */
.m-auto {
    margin: auto !important;
}

.m-0 {
    margin: 0 !important;
}

.m-01 {
    margin: .1rem;
}

.m-02 {
    margin: 0.2rem;
}

.m-05 {
    margin: 0.5rem;
}

.m-1 {
    margin: 1rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.mx-1 {
    margin-left: 1rem;
    margin-right: 1rem;
}
.mx-2 {
    margin-left: 2rem;
    margin-right: 2rem;
}

.my-0 {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}
.my-05 {
    margin-bottom: 0.5rem !important;
    margin-top: 0.5rem !important;
}

.my-1 {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.ml-05 {
    margin-left: 0.5rem;
}
.ml-1 {
    margin-left: 1rem;
}

.ml-3 {
    margin-left: 3rem;
}

.mr-05 {
    margin-right: 0.5rem;
}

.mt-0{
    margin-top: 0rem;
}
.mt-05{
    margin-top: .5rem;
}

.mb-0 {
    margin-bottom: 0;
}
.mb-1 {
    margin-bottom: 1rem;
}

.p-01 {
    padding: .1rem;
}

.p-025 {
    padding: 0.25rem;
}

.p-05 {
    padding: 0.5rem;
}

.p-1 {
    padding: 1rem !important;
}

.p-2 {
    padding: 2rem;
}

.p-3 {
    padding: 3rem;
}

.px-05 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.px-1 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.px-2 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.py-05 {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.py-1 {
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.py-2 {
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.pt-1 {
    padding-top: 1rem;
}

.pt-3 {
    padding-top: 3rem;
}

.pt-4 {
    padding-top: 4rem;
}

.pt-6 {
    padding-top: 6rem;
}

.pb-05 {
    padding-bottom: 0.5rem;
}

.pb-2 {
    padding-bottom: 2rem;
}

.pl-05 {
    padding-left: .5rem !important;
}

.pr-05 {
    padding-right: .5rem;
}

.pl-1 {
    padding-left: 1rem !important;
}
.pl-2 {
    padding-left: 2rem !important;
}

.pr-1 {
    padding-right: 1rem !important;
}


/* BORDERS */
.no-border {
    border: none !important;
}

.no-border-focus:focus, .no-border-focus[type=text]:not(.browser-default):focus:not([readonly]) {
    border: none !important;
}

.border-radius-10 {
    border-radius: 10%;
}
.border-radius-10px {
    border-radius: 10px;
}

.border-radius-25px {
    border-radius: 25px;
}

.border-radius-30 {
    border-radius: 30%;
}

.border-radius-50 {
    border-radius: 50%;
}

.border-radius-50px {
    border-radius: 50px;
}

.border-radius-50 {
    border-radius: 50%;
}

.border-radius-70px {
    border-radius: 70px;
}

.border-top-radius-70px {
    border-radius: 70px 70px 0 0;
}

.border-radius-100 {
    border-radius: 100%;
}

.border-bot-blue {
    border-bottom: 1px solid #275FA0;
}

/* POSITION */
.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.position-all {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.position-top-outside {
    bottom: 100%
}

.position-top {
    top: 0;
}

.position-left {
    left: 0;
}

.position-right {
    right: 0;
}

.position-left-outside {
    right: 100%;
}

.position-right-outside {
    left: 100%;
}

.position-left-up {
    left: 0;
    top: -0.5rem;
}

.position-right-up {
    right: 0;
    top: -0.5rem;
}

.position-left-down {
    left: 0;
    bottom: -0.5rem;
}

.position-right-down {
    right: 0;
    bottom: -0.5rem;
}

/* DISPLAYS */

.no-resize{
    resize: none;
}

.content-fit-height{
    height: fit-content !important;
}

.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}

.d-none {
    display: none !important;
}

.d-flex {
    display: flex;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.align-items-flexend {
    align-items: flex-end;
}

.justify-content-spacearound {
    justify-content: space-around;
}

.justify-content-spacebetween {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}
.justify-content-flexend {
    justify-content: flex-end;
}

.flex-1 {
    flex: 1;
}

.self-align-flexend {
    align-self: flex-end;
}

.self-align-center {
    align-self: center;
}

.hover-child {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 150ms ease-in, visibility 150ms ease-in;
    transition: opacity 150ms ease-in, visibility 150ms ease-in;
}

.hover-parent:hover > .hover-child {
    visibility: visible;
    opacity: 1;
}

.grid {
    display: grid;
}

.column-2 {
    grid-template-columns: repeat(2, 1fr);
}

.z-index-3 {
    z-index: 3 !important;
}

.z-index-4 {
    z-index: 4;
}

.z-index-5 {
    z-index: 5;
}

/* HEIGHTS AND WIDTHS */

.max-width-content {
    max-width: 1100px;
    margin: 0 auto;
    transition: 0.2s ease-in-out;
}

.max-height-100vh {
    max-height: 100vh;
}

.min-height-70vh {
    min-height: 70vh;
}

.h-1rem {
    height: 1rem;
}

.h-6rem {
    height: 6rem;
}

.h-100 {
    height: 100% !important;
}

.h-70vh {
    height: 70vh;
}

.w-30 {
    width: 30%;
}

.w-50 {
    width: 50%;
}

.w-3vw {
    width: 3vw;
}

.w-70 {
    width: 70%;
}

.w-90 {
    width: 90%;
}

.w-100 {
    width: 100% !important;
}

.w-200px {
    width: 200px;
}

.w-230px {
    width: 230px;
}

.w-max-content {
    width: max-content;
}

.overflow-scroll-y {
    overflow-y: scroll;
}

/* TEXTS */

.bold-text {
    font-weight: bold;
}
.semi-bold-text {
    font-weight: 500;
}

.font-smile-small {
    font-size: small !important;
}

.font-normal {
    font-size: 16px !important;
}

.no-word-break {
    word-break: keep-all;
}
.word-break-all {
    word-break: break-all;
}

/*INHERITS*/

.button-inherit {
    background-color: inherit;
    border: inherit;
}

.button-inherit:focus {
    outline: inherit;
    background-color: inherit !important;
}

.input-inherit {
    border-bottom: inherit !important;
}

.input-inherit:focus {
    border-bottom: inherit !important;
    box-shadow: none !important;
}

/* CURSOR */
.clickable {
    cursor: pointer;
}

/* CUSTOM */

.author_of_post{
    right:105%;
}

.all_posts{
    width: 700px;
    height: 100px;
    transition: 0.2s ease-in-out;
}

#dropdown1{
    top:65px !important;
    width: fit-content !important;
    border-radius: 0 0 10px 10px;
}

.nope {
    border-color: red !important;
}

.yep {
    border-color: rgb(3, 207, 3) !important;
}

#pp_header, .author_image{
    height: 40px;
    width: auto;
    border-radius: 50%;
}

#barre_recherche {
    width: 400px;
    height: 38px;
}

.likes_left, .likes_right {
    position: relative;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
    margin: 0;
}

.likes_left::before {
    border-left: 0.5rem solid #fff;
    border-right: 0.5rem solid transparent;
    border-top: 0.5rem solid #fff;
    border-bottom: 0.5rem solid transparent;
    left: 10%;
}

.likes_right::before {
    border-right: 0.5rem solid #fff;
    border-left: 0.5rem solid transparent;
    border-top: 0.5rem solid #fff;
    border-bottom: 0.5rem solid transparent;
    right: 10%;
}

.likes_right::before, .likes_left::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: -0.5rem;
}

.scrollbar-conversations::-webkit-scrollbar, .scrollbar-conversation::-webkit-scrollbar {
    width: 10px;
    overflow: hidden;
}

.scrollbar-conversations::-webkit-scrollbar-track, .scrollbar-conversation::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.scrollbar-conversations::-webkit-scrollbar-thumb, .scrollbar-conversation::-webkit-scrollbar-thumb {
    background: #888;
}

.bouton {
    background-color: #FFCA4B !important;
    border-radius: 15px !important;
}

/* HEADER */
#ilestpasdedans {
    display: none;
}

.fa-power-off {
    margin-left: 1vw;
    font-size: large;
}

.fa-power-off:hover {
    color: #CF2600;
}

.fa-comments{
    font-size: 35px;
}

.fa-sort-down {
    font-size: 35px;
    margin-bottom: 1rem;
}


input[type=text]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid #88C1D0 !important;
    box-shadow: 0 1px 0 0 #88C1D0 !important;
}

.autocomplete-content {
    border-radius: 25px !important;
}

.autocomplete-content li span {
    color: #275FA0 !important;
}

/* Reponsive header */
@media screen and (min-width: 601px) and (max-width: 1100px) {


    .all_posts{
        width: 400px;
    }

    #name_on_header{
        display: none;
    }

    #autocomplete-input ~ ul {
        width: 150% !important;
        right: 0 !important;
        left: inherit !important;
    }

    #pp_header{
        height: 5vh;
    }

    #pop-up-content {
        width: 50% !important;
    }

    #barre_recherche {
        width: 200px;
    }
}
#autocomplete-on-side > ul {
    width: 100% !important;
}

@media screen and (max-width: 600px) {

    .all_posts{
        width: 250px;
    }

    #name_on_header{
        display: none;
    }

    #ilestpasdedans {
        margin-top: 3vh;
        margin-right: 2vw;
        display: flex;
    }

    #pop-up-content {
        width: 70% !important;
    }

    .barre_recherche_header {
        display: none;
    }
}

/* FIN HEADER */

/* seeProfil */
#seeProfil > .center-align > h1 {
    font-size: 30px !important;
}

#seeProfil > .row > .col > h2 {
    font-size: 18px !important;
}

#info_border {
    border-right: 2px solid #88C1D0;
    padding-right: 10%;
}

#presentation_profile {
    padding: 3%;
}

.h2_posts {
    color: #275FA0 !important;
    font-size: 18px !important;
}

.information_profile {
    margin: 5%;
}

.information_profile > h2 {
    font-size: 18px !important;
}

.cover_img {
    width: 100%;
    height: 250px;
}

#cover_picture {
    width: 100%;
    height: 100%;
}

.profile_img {
    width: 200px;
    height: 200px;
    margin-bottom: 5%;
}

.miniature_img {
    width: 35px;
    height: 35px;
}


#update_presentation {
    border: none;
}

textarea:focus {
    outline: none;
}

.checked {
    color: #FFCA4B;
}

.display-none {
    display: none;
}

#scale-infos {
    border-radius: 20px;
}

#scale-infos:hover {
    background-color: #FFCA4B;
}
/* FIN SEE PROFIL */

/* MESSAGERIE */
#pop-up-background {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

#pop-up-content {
    width: 30%;
    border-radius: 25px;
}

#form_connexion {
    width: 500px;
}

/* FIN MESSAGERIE */

/* Form inscription/connexion/modif */
@media screen and (min-width: 601px) and (max-width: 1100px) {
    .max-width-content {
        max-width: 600px;
    }

    .btn {
        background-color: #88C1D0;
    }

    .bouton {
        background-color: #FFCA4B !important;
        border-radius: 15px !important;
    }

    input[type=text]:not(.browser-default):focus:not([readonly]) + label,
    input[type=email]:not(.browser-default):focus:not([readonly]) + label,
    input[type=password]:not(.browser-default):focus:not([readonly]) + label {
        color: #88C1D0 !important;
    }

    input[type=text]:not(.browser-default):focus:not([readonly]),
    input[type=email]:not(.browser-default):focus:not([readonly]),
    input[type=password]:not(.browser-default):focus:not([readonly]) {
        border-bottom: 1px solid #88C1D0 !important;
        box-shadow: 0 1px 0 0 #88C1D0 !important;
    }

    #align_down {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .erreurs {
        background-color: rgba(224, 57, 57, 0.8);
        text-align: center;
        color: white;
        border: 1px solid black;
        border-radius: 15px;
    }
}

@media screen and (max-width: 600px) {
    .max-width-content {
        max-width: 300px;
    }

    .redirection {
        text-align: center;
    }

    .btn {
        background-color: #88C1D0;
    }

    .bouton {
        background-color: #FFCA4B !important;
        border-radius: 15px !important;
    }

    input[type=text]:not(.browser-default):focus:not([readonly]) + label,
    input[type=email]:not(.browser-default):focus:not([readonly]) + label,
    input[type=password]:not(.browser-default):focus:not([readonly]) + label {
        color: #88C1D0 !important;
    }

    input[type=text]:not(.browser-default):focus:not([readonly]),
    input[type=email]:not(.browser-default):focus:not([readonly]),
    input[type=password]:not(.browser-default):focus:not([readonly]) {
        border-bottom: 1px solid #88C1D0 !important;
        box-shadow: 0 1px 0 0 #88C1D0 !important;
    }

    #align_down {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .erreurs {
        background-color: rgba(224, 57, 57, 0.8);
        text-align: center;
        color: white;
        border: 1px solid black;
        border-radius: 15px;
    }
}

/* FIN DE FORMAULAIRE INSC/CO/RESET/MODIF */

/* SetProfil */
#form_setprofil {
    padding: 3%;
}

.img_profil {
    text-align: center;
}

.img_profil img {
    margin: 5% auto;
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#change_file:hover {
    background-color: #FFCA4B;
}

#change_file {
    border-radius: 15px;
}

#recommandation {
    text-align: center;
    background-color: #88C1D0;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    margin: 2%;
}