/* GENERAL */

li, ul, ol{
    list-style-type: none;
}

/* THEME COLORS */
.no-background {
    background: none;
}

.no-background-focus:focus {
    background: none;
}

.background-blue-grey {
    background-color: #88C1D0;
}

.background-white {
    background-color: #FFFFFF;
}

.background-yellow {
    background-color: #FFCA4B;
}

.background-lighter-grey {
    background-color: #F9F9F9;
    border-radius: 20px;
}

.yellow-text {
    color: #FFCA4B;
}

.light-grey-text {
    color: #888B97;
}

.grey-text {
    color: #202126;
}

.blue-text {
    color: #275FA0 !important;
}

.box-shadow {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.43);
}

.hover-blue-grey:hover {
    background-color: rgba(39, 95, 160, 0.54);
}

.hover-yellow-text{
    transition: color 0.2s ease-in-out;
}
.hover-yellow-text:hover {
    color: #FFCA4B !important;
}

/* MARGINS AND PADDINGS */
.m-0 {
    margin: 0 !important;
}

.m-01 {
    margin: .1rem;
}

.m-02 {
    margin: 0.2rem;
}

.m-05 {
    margin: 0.5rem;
}

.m-1 {
    margin: 1rem;
}

.mx-1 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.my-05 {
    margin-bottom: 0.5rem !important;
    margin-top: 0.5rem !important;
}

.my-1 {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.ml-05 {
    margin-left: 0.5rem;
}

.ml-3 {
    margin-left: 3rem;
}

.mr-05 {
    margin-right: 0.5rem;
}

.mb-0{
    margin-bottom: 0;
}

.p-01 {
    padding: .1rem;
}

.p-025 {
    padding: 0.25rem;
}

.p-05 {
    padding: 0.5rem;
}

.p-1 {
    padding: 1rem !important;
}

.p-2 {
    padding: 2rem;
}

.p-3 {
    padding: 3rem;
}

.px-05 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.px-1 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.px-2 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.py-05 {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.py-1 {
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.py-2 {
    padding-bottom: 2rem;
    padding-top: 2rem;
}
.pt-1{
    padding-top: 1rem;
}

.pt-3 {
    padding-top: 3rem;
}

.pt-4 {
    padding-top: 4rem;
}

.pt-6 {
    padding-top: 6rem;
}

.pb-05 {
    padding-bottom: 0.5rem;
}

.pb-2 {
    padding-bottom: 2rem;
}

.pl-05 {
    padding-left: .5rem;
}

.pr-05 {
    padding-right: .5rem;
}

.pl-1 {
    padding-left: 1rem;
}

.pr-1 {
    padding-right: 1rem;
}


/* BORDERS */
.no-border {
    border: none;
}

.border-radius-10 {
    border-radius: 10%;
}

.border-radius-30 {
    border-radius: 30%;
}

.border-radius-50 {
    border-radius: 50%;
}

.border-radius-50px {
    border-radius: 50px;
}

.border-radius-50 {
    border-radius: 50%;
}

.border-radius-70px {
    border-radius: 70px;
}

.border-top-radius-70px {
    border-radius: 70px 70px 0 0;
}

.border-radius-100 {
    border-radius: 100%;
}

.border-bot-blue {
    border-bottom: 1px solid #275FA0;
}

/* POSITION */
.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.position-all {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.position-top-outside {
    bottom: 100%
}

.position-top {
    top: 0;
}

.position-left {
    left: 0;
}

.position-right {
    right: 0;
}

.position-left-outside {
    right: 100%;
}

.position-right-outside {
    left: 100%;
}

.position-left-up {
    left: 0;
    top: -0.5rem;
}

.position-right-up {
    right: 0;
    top: -0.5rem;
}

.position-left-down {
    left: 0;
    bottom: -0.5rem;
}

.position-right-down {
    right: 0;
    bottom: -0.5rem;
}

/* DISPLAYS */
.d-none {
    display: none !important;
}

.d-flex {
    display: flex;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.align-items-flexend {
    align-items: flex-end;
}

.justify-content-spacearound {
    justify-content: space-around;
}

.justify-content-spacebetween {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.flex-1 {
    flex: 1;
}

.self-align-flexend {
    align-self: flex-end;
}

.hover-child {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 150ms ease-in, visibility 150ms ease-in;
    transition: opacity 150ms ease-in, visibility 150ms ease-in;
}

.hover-parent:hover > .hover-child {
    visibility: visible;
    opacity: 1;
}

.grid {
    display: grid;
}

.column-2 {
    grid-template-columns: repeat(2, 1fr);
}

.z-index-3 {
    z-index: 3;
}

.z-index-4 {
    z-index: 4;
}
.z-index-5 {
    z-index: 5;
}

/* HEIGHTS AND WIDTHS */

.max-width-content {
    max-width: 1100px;
    margin: 0 auto;
}
.max-height-100vh {
    max-height: 100vh;
}

.min-height-70vh {
    min-height: 70vh;
}

.h-1rem{
    height: 1rem;
}
.h-6rem{
    height: 6rem;
}

.h-100 {
    height: 100%;
}

.h-70vh {
    height: 70vh;
}

.w-30 {
    width: 30%;
}

.w-3vw {
    width: 3vw;
}

.w-70 {
    width: 70%;
}

.w-90 {
    width: 90%;
}

.w-100 {
    width: 100%;
}

.w-200px {
    width: 200px;
}

.w-230px {
    width: 230px;
}

.w-max-content {
    width: max-content;
}

.overflow-scroll-y {
    overflow-y: scroll;
}

/* TEXTS */

.bold-text {
    font-weight: bold;
}

.font-smile-small {
    font-size: small !important;
}

.no-word-break {
    word-break: keep-all;
}

/*INHERITS*/

.button-inherit {
    background-color: inherit;
    border: inherit;
}

.button-inherit:focus {
    outline: inherit;
    background-color: inherit !important;
}

.input-inherit {
    border-bottom: inherit !important;
}

.input-inherit:focus {
    border-bottom: inherit !important;
    box-shadow: none !important;
}

/* CURSOR */
.clickable {
    cursor: pointer;
}
/* CUSTOM */
.nope {
    border-color: red !important;
}

.yep {
    border-color: rgb(3, 207, 3) !important;
}


.likes_left, .likes_right {
    position: relative;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
    margin: 0;
}

.likes_left::before {
    border-left: 0.5rem solid #fff;
    border-right: 0.5rem solid transparent;
    border-top: 0.5rem solid #fff;
    border-bottom: 0.5rem solid transparent;
    left: 10%;
}

.likes_right::before {
    border-right: 0.5rem solid #fff;
    border-left: 0.5rem solid transparent;
    border-top: 0.5rem solid #fff;
    border-bottom: 0.5rem solid transparent;
    right: 10%;
}

.likes_right::before, .likes_left::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: -0.5rem;
}

.scrollbar-conversations::-webkit-scrollbar, .scrollbar-conversation::-webkit-scrollbar {
    width: 10px;
    overflow: hidden;
}

.scrollbar-conversations::-webkit-scrollbar-track, .scrollbar-conversation::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.scrollbar-conversations::-webkit-scrollbar-thumb, .scrollbar-conversation::-webkit-scrollbar-thumb {
    background: #888;
}

.bouton
    {
        background-color: #FFCA4B !important;
        border-radius: 15px !important;
    }
/* HEADER */
#ilestpasdedans
    {
        display: none;
    }
#barre_recherche {
    margin-top: 10px;
    margin-bottom: 0 !important;
    display: flex;
    align-items: center;
    border-radius: 25px;
    width: 50%;
    background-color: #F5F5F5;
    box-shadow: 2px 2px 10px #bbbbbb;
}

#connect_header {
    width: 80%;
}

#profil_header {
    display: flex;
    align-items: center;
    margin-right: 2vw;
    /* justify-content: center; */
}

#pp_header {
    height: 8vh;
    border-radius: 50%;
    margin-right: 1vw;
}

.fa-power-off {
    margin-left: 1vw;
    font-size: large;
}

.fa-power-off:hover {
    color: #CF2600;
}

.fa-chevron-down {
    font-size: large;
}

input[type=text]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid #88C1D0 !important;
    box-shadow: 0 1px 0 0 #88C1D0 !important;
}

.autocomplete-content {
    border-radius: 25px !important;
}

.autocomplete-content li span {
    color: #275FA0 !important;
}

.dropdown-content a {
    color: #275FA0 !important;
}
/* Reponsive header */
@media screen and (min-width: 601px) and (max-width: 1100px)
    {
        #connect_header
            {
                width: 70%;
            }
        #barre_recherche
            {
                height: 8vh;
            }
        #pp_header
            {
                height: 5vh;
            }
        #pop-up-content
            {
                width: 50% !important;
            }
    }
@media screen and (max-width: 600px)
    {
        #ilestpasdedans
            {
                margin-top: 3vh;
                margin-right: 2vw;
                display : flex;
            }
        #barre_recherche
            {
                width: 70%;
            }
        #connect_header
            {
                display: none;
            }
        #pop-up-content
            {
                width: 70% !important;
            }
    }
/* FIN HEADER */

/* seeProfil */
#seeProfil > .center-align > h1 {
    font-size: 30px !important;
}

#seeProfil > .row > .col > h2 {
    font-size: 18px !important;
}

#info_border {
    border-right: 2px solid #88C1D0;
    padding-right: 10%;
}

#presentation_profile {
    padding: 3%;
}

.h2_posts{
  color:#275FA0 !important;
  font-size: 18px !important;
}
.information_profile {
    margin: 5%;
}

.information_profile > h2 {
    font-size: 18px !important;
}

.cover_img {
    width: 100%;
    height: 250px;
}

#cover_picture {
    width: 100%;
    height: 100%;
}

.profile_img {
    width: 200px;
    height: 200px;
    margin-bottom: 5%;
}

.miniature_img {
    width: 60px;
    height: 60px;
}

.form_profile > textarea {
    border: none;
}

#update_presentation {
    border: none;
}

textarea:focus {
    outline: none;
}

.form_profile > ::placeholder {
    color: #888B97;
}

.form_comment, .form_comment_wall{
  margin:7% !important;
}

.post_profile {
    background-color: white;
    border-radius: 20px;
    width: 80%;
    margin: 2% auto;
}
.post_content{
  font-size: 20px;
}
.comment_profile {
    background-color: white;
    border-radius: 20px;
    width: 80%;
    margin: 2% auto 2% 20%;
}

.checked {
    color: #FFCA4B;
}

.display-none {
    display: none;
}
/* FIN SEE PROFIL */
/* MESSAGERIE */
#pop-up-background
    {
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }
#pop-up-content
    {
        width: 30%;
        border-radius: 25px;
    }
/* FIN MESSAGERIE */

/* Form inscription/connexion/modif */
.formulaire{
    border-radius: 15px !important;
    padding-top: 3% !important;
    padding-bottom: 3% !important;
}

.btn{
    background-color: #88C1D0;
}

.bouton{
    background-color: #FFCA4B !important;
    border-radius: 15px !important;
}

input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=email]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label{
    color:  #88C1D0 !important;
    font-weight: bold;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]){
    border-bottom: 1px solid #88C1D0 !important;
    box-shadow: 0 1px 0 0 #88C1D0 !important;
}

#align_down {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/* SetProfil */
.img_profil{
    text-align: center;
    margin-bottom: 10%;
}
.img_profil img{
    margin: 5% auto;
    display: block;
    width:100px;
    height:100px;
    border-radius: 50%;
}

#change_file:hover{
    background-color:  #FFCA4B;
}

/*** Footer ***/

footer{
  background-color: #F9F9F9;
  padding:2% 0 2% 5%;
  font-weight: bold;
  color: #888B97;
  margin-top:5%;
}
